.go-top {
    position: fixed;
    cursor: pointer;
    bottom: 35px;
    left: 35px;
    font-size: 25px;
    color: #ffffff;
    background-color: #2d2d2d;
    z-index: 4;
    width: 45px;
    text-align: center;
    height: 45px;
    line-height: 50px;
    border-radius: 50%;
    -webkit-transition: 0.5s;
    transition: 0.5s;

    // &:hover {
    //     color: #ffffff;
    //     background: #8FD3E8;
    // }

    img {
        height: 22px;
        width: auto;
    }
}

