.side-drawer {
    height: 100%;
    background-color: white;
    box-shadow: 1px 0 7px rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    left: 0;
    width: 70%;
    max-width: 400px;
    z-index: 200;
    transform: translateX(-100%);
    transition: transform 0.3s ease-out;
    display: flex;
    flex-direction: column;

    .login-user-link {
        display: flex;
        align-items: center;
        cursor: pointer;
        height: 25%;
        justify-content: center;

        span {
            font-size: 16px;
            display: inline;
            color: #8FD3E8;
            margin-right: 10px;;
        }

        img {
            height: 28px;
            width: auto;
        }
    }

    ul {
        margin: 0;
        padding: 0;
        height: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        // justify-content: center;

        li {
            margin: 0.5rem 0;
        }
    }

    .side-drawer-option {
        font-size: 25px;
        cursor: pointer;
    }
}

.visible {
    transform: translateX(0);
}

@media (min-width: 769px) {
    .side-drawer {
        display: none;
    }
}