.footer-container {
    width: 100%;
    background: #8FD3E8;
    height: 140px;
    display: flex;
    align-items: center;

    .copyrigth-area {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        text-align: start;
        padding-right: 25%;
        
        p {
            color: white;
            font-size: 12px;
            margin-bottom: 5px;

            span {
                font-size: 15px;
            }
        }

        .social-media-area {
            a {
                img {
                    height: 17px;
                    width: auto;
                }
            }
        }
     }
}